{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block body %}
<h1>Please log in below.</h1>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}

    {{ form.username.label_tag }}
    {{ form.username }}
    </br></br>
    {{ form.password.label_tag }}
    {{ form.password }}
    {% if form.errors %}
        <p style="color:red;">Error.  Please enter an existing username and password.</p>
    {% endif %}
    </br></br>
    <input type="submit" value="Login">
</form>
{% endblock %}